#floater {
    float: left;
    height: 50%;
    width: 100%;
}

.dagegen {
  height: 10em;
  clear: both;
  margin: 0 auto;
  text-align: center;
}

.footer {
  width: 30em;
  height: 5em;
  margin: 0 auto;
  clear: both;
}

.footer a img {
  padding: 1em;
  margin: 0px 0px 0px 0px;
}


.alignleft {
  float: left;
  text-align: left;
 
}

.alignright {
  float: wight;
  text-align: right;
}